version: "3.7"
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./rabbitmq/data/:/var/lib/rabbitmq/
      - ./rabbitmq/log/:/var/log/rabbitmq
    networks:
      - internal_network

  backend:
    container_name: 'backend'
    depends_on:
      - rabbitmq
    build:
      context: ./BackendApplication/
      dockerfile: Dockerfile
    ports:
      - 5000:80
    networks:
      - internal_network
    restart: always

  vue-ui:
    image: 'node:16.7'
    ports:
      - "8080:8080"
    networks:
      - internal_network
    stdin_open: true
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    working_dir: /app
    container_name: vue-ui
    volumes:
      - ./Frontend:/app
    command: /app/entrypoint.sh

  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./mongodb/database:/data/db
    ports:
      - 27017:27017
    networks:
      - internal_network
    restart: unless-stopped

networks:
  internal_network:
    driver: bridge
